@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<HelloWorld.Dnn.Dnn.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;
@using HelloWorld.Dnn.Dnn.HelloWorld.Models;
@using HelloWorld.Dnn.Dnn.HelloWorld.Components;
@using HelloWorld.Dnn.Dnn.HelloWorld.Services;


@using System.Data

@{
    var controller = new HelloWorld.Dnn.Dnn.HelloWorld.Services.Implementations.KérdésekController();
    var elso_kérdés = controller.FindKérdésByID(1);
    Answers[] elso_valaszok = controller.FindVálaszokByQuestion(1);
}




<div>

    <div class="first-section">
        <p>
            @(elso_kérdés != null ? elso_kérdés.QuestionText : "Question not found.")
        </p>
        @*for ciklus?*@
        <button type="radio" onclick="">@(elso_valaszok != null ? elso_valaszok[0].AnswerText : "Answer not found.")</button>
        <button type="radio" onclick="">@(elso_valaszok != null ? elso_valaszok[1].AnswerText : "Answer not found.")</button>
        <button type="radio" onclick="">@(elso_valaszok != null ? elso_valaszok[2].AnswerText : "Answer not found.")</button>

    </div>
</div>



