@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<HelloWorld.Dnn.Dnn.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using DotNetNuke.Data;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using DotNetNuke.Framework.JavaScriptLibraries;
@using HelloWorld.Dnn.Dnn.HelloWorld.Models;
@using HelloWorld.Dnn.Dnn.HelloWorld.Components;

@using System.Data

<table>
    <thead>
        <tr>
            <th>QuestionText</th>
            <!-- Ide írd a további oszlopok fejléceit -->
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["QuestionText"]</td>
                <!-- Ide írd a további oszlopokat -->
            </tr>
        }
    </tbody>
</table>



<h1>
    Ajánló rendszer!
</h1>
<div>
    <h2>
        Mi a célod a növényekkel, kertészettel?
    </h2>
    <p>
        Lakásom díszítése
    </p>
    <p>
        Kertem díszítése
    </p>
    <p>
        Termeszteni szeretnék valamit
    </p>
</div>
